# <center><b>Lesson 10</b></center>
# <center><b>Asg 10.2</b></center>
# <center><b>Tuples</b></center>

## <center>*Make sure to run the code in the following cell before you start the assignment!*!</i>

In [89]:
# set up notebook to display multiple output in one cell

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

print("The notebook is now set up to display multiple output in one cell'")

The notebook is now set up to display multiple output in one cell'

<div class="alert alert-block alert-success"><b>Problem 1</b>:

1. Pick out a famous person and use that person's first name as the name of a variable. Create a tuple that you will assign to that variable that contains a number of pertinent pieces of information about that person (like I did in the Aaron Rodgers example above).
2. Write code to print out the variable that you created in Step #1.
3. Write code to print out the data type of the variable that you created in Step 1.
4. Write code to print out the number of items that are in the tuple that you created above.
</div>

In [90]:
# Part 1
Giannis = ("Greece", 27, "Greek Freak", "NBA Champion and NBA MVP")
(birth_country, age, nickname, achievements) = Giannis

In [91]:
# Part 2
print(Giannis)

('Greece', 27, 'Greek Freak', 'NBA Champion and NBA MVP')

In [92]:
# Part 3
print(type(Giannis))

<class 'tuple'>

In [93]:
# Part 4 
print(len(Giannis))

4

<div class="alert alert-block alert-success"><b>Problem 2</b>:

<b>Given</b>:
<p>&nbsp;</p>
Information about an employee ...

Jane Smith, Female, 37, Married, Accountant, Deloitte, Marquette, Mequon, Wisconsin

1. Create a tuple of values and assign that tuple to a variable named employee. Write code to print out employee, the data type that employee is, and the number of items in employee.  Feel free to use f-string formatting to enhance your output.
2. Create a tuple of variables to represent the tuple of values from Part 1 and assign the variable employee to that tuple. Use f-string formatting to print out the following statement:
    
    <i>Jane Smith is a 37 year old accountant who graduated from Marquette University.</i>
<p>&nbsp;</p>    
3. Jane just had a birthday and she also moved to Wauwatosa and is now working for Ernst & Young.  Use the original tuple to create a new tuple with the same name that includes this updated information.  Print out the new tuple.
4. Use f-string formatting to print out the following statement:
    
    <i>Jane Smith has moved to Wauwatosa and is now working for Ernst & Young.</i>
</div>

In [94]:
# Part 1
employee = ("Jane Smith", "Female", 37, "Married", "accountant", "Deloitte", "Marquette University", "Mequon", "Wisconsin")
print(f"Employee is {employee}. The data type of employee is a {type(employee)}. The length of employee is {len(employee)}.")

Employee is ('Jane Smith', 'Female', 37, 'Married', 'accountant', 'Deloitte', 'Marquette University', 'Mequon', 'Wisconsin'). The data type of employee is a <class 'tuple'>. The length of employee is 9.

In [95]:
# Part 2
(name, gender, age, marital_status, occupation, workplace, college, location_city, location_state) = employee
print(f"{name} is {age} year old {occupation} who graduated from {college}.")

Jane Smith is 37 year old accountant who graduated from Marquette University.

In [96]:
# Part 3
employeeAsList = list(employee)
employeeAsList[2] = 38
employeeAsList[5] = "Ernst & Young"
employeeAsList[len(employeeAsList)-2] = "Wauwatosa"
employee = tuple(employeeAsList)
print(employee)

Jane Smith has moved to Mequon and is now working for Deloitte.

In [1]:
# Part 4
print(f"{name} has moved to {location_city} and is now working for {workplace}.")

<div class="alert alert-block alert-success"><b>Problem 3</b>:

NFC NORTH Standings week 7                 

first = "Chicago"                        
second = "Green Bay"                      
third = "Minnesota"                      
fourth = "Detroit"  
    
NFC NORTH Standings week 10<br >

first = "Green Bay"<br>
second = "Minnesota"<br>
third = "Chicago"<br>
fourth = "Detroit"<br>

1. Create a tuple of values for place and a tuple of variables for team that represent the week 7 standings.  Assign the tuple for place to the tuple for team. Use f-string formatting to print out the week 7 standings.
2. Perform a variable swap to represent the changes that appear in the week 10 standings. Use f-string formatting to print out the week 10 standings.
    
</div>

In [6]:
# Part 1
Week_Seven = ("Chicago", "Green Bay", "Minnesota", "Detroit")
(first, second, third, fourth) = Week_Seven
print("Week Seven Standings")
for x in range(len(Week_Seven)):
    print(f"{x + 1}. {Week_Seven[x]}")

Week Seven Standings
1. Chicago
2. Green Bay
3. Minnesota
4. Detroit

In [7]:
# Part 2
WeekSevenAsList = list(Week_Seven)
WeekSevenAsList[0] = "Green Bay"
WeekSevenAsList[1] = "Minnesota"
WeekSevenAsList[2] = "Chicago"
WeekSevenAsList[3] = "Detroit"
Week_Ten = tuple(WeekSevenAsList)
print("Week Ten Standings")
for x in range(len(Week_Ten)):
    print(f"{x + 1}. {Week_Ten[x]}")

Week Ten Standings
1. Green Bay
2. Minnesota
3. Chicago
4. Detroit

<div class="alert alert-block alert-success"><b>Problem 4</b>:
 
Write code to reverse the given tuple. 

- your_tuple = ("cat", 51. [9, "dog", "car", 4.3]. "house", 16.5)
</div>

In [10]:
your_tuple = ("cat", 51. ,[9, "dog", "car", 4.3], "house", 16.5)
print(your_tuple[::-1])

(16.5, 'house', [9, 'dog', 'car', 4.3], 51.0, 'cat')

<div class="alert alert-block alert-success"><b>Problem 5</b>:
    
Write code to access and print out the value 55 from the following tuple.

- tuple_mixed = (27, [19, "soccer"], 31.6, ("baseball", "football", "golf"), ["hat", 55, "shoes", 29])
  
</div>

In [26]:
tuple_mixed = (27, [19, "soccer"], 31.6, ("baseball", "football", "golf"), ["hat", 55, "shoes", 29])
print(tuple_mixed[4][1])

55

<div class="alert alert-block alert-success"><b>Problem 6</b>:
    
Write code to create a tuple with the single item "Halloween". Name the tuple that you create <b>atuple</b>. Print out <b>atuple</b>.

</div>

In [14]:
atuple = ("Halloween",)
print(tuple(atuple))

('Halloween',)

<div class="alert alert-block alert-success"><b>Problem 7</b>:
    
Write code to unpack the following tuple into 4 variables named a, b, c, and d.
    
- our_tuple = ("North", "South", "East", "West")

</div>

In [15]:
our_tuple = ("North", "South", "East", "West")
(a,b,c,d)=our_tuple
print(a,b,c,d)

North South East West

<div class="alert alert-block alert-success"><b>Problem 8</b>:
    
Write code to swap the following two tuples. Print out the results.
    
- tuple_1(17, "Brookfield")
<p>&nbsp;</p> 
- tuple_2("Milwaukee", 71)
</div>

In [18]:
tuple_1=(17, "Brookfield")
 
tuple_2=("Milwaukee", 71)
tuple_1, tuple_2 = tuple_2, tuple_1
print(tuple_1, tuple_2)

('Milwaukee', 71) (17, 'Brookfield')

<div class="alert alert-block alert-success"><b>Problem 9</b>:
    
Write code to copy elements "Brookfield" and "Elm Grove from the <b>tuple_1</b> into a new tuple named <b>tuple_2</b>.

- tuple_1 = ("Atlanta", "Brookfield", "Chicago", "Elm Grove", "Los Angeles", "New York")

</div>

In [21]:
tuple_1 = ("Atlanta", "Brookfield", "Chicago", "Elm Grove", "Los Angeles", "New York")
tuple_2 =tuple_1[1:4:2]
print(tuple_2)

('Brookfield', 'Elm Grove')

<div class="alert alert-block alert-success"><b>Problem 10</b>:
    
Write code to modify the first item (22) of a list that is inside of the given tuple to 222

- my_tuple = (11, [22, 33], 44, 55)

</div>

In [22]:
my_tuple = (11, [22, 33], 44, 55)
my_tuple[1][0] = 222
print(my_tuple)

(11, [222, 33], 44, 55)

<div class="alert alert-block alert-success"><b>Problem 11</b>:
    
11. Write code to count the number of occurrences of the element 10 from the given tuple. Print out the result.
 <p>&nbsp;</p>    

- tuple_int = (30, 10, 20, 10, 10, (10, 20, 30), 10, 20, 30, [10, 20, 30], "10")
    
</div>

In [25]:
tuple_int = (30, 10, 20, 10, 10, (10, 20, 30), 10, 20, 30, [10, 20, 30], "10")
print(tuple_int.count(10) + tuple_int[5].count(10) + tuple_int[9].count(10))

6